* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to bottom right,rgba(239,245,249, 1),rgba(228,232,233, 1));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

span {
  color: black;
  font-size: 28px;
}

header {
  display: flex;
  margin: 16px 0;
  gap: 16px;
}

.button {
  padding: 4px 8px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  background: #0891b2;
  &:hover {
    background: linear-gradient(90deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 32px;
}

.array-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

.array-bar {
  width: 2%;
  background-color: #89CFF0;
  border-radius: 2px;
}

